/* index-background-container override */

#index-background-container{position:relative}

#index-background-container #index-header-background,#index-background-container #index-header-portraits{height:100%;left:0;pointer-events:none;position:absolute;top:0;width:100%}

#index-background-container #index-header-background {
	background-color:#f0d4f0;
	background-image:linear-gradient(45deg,#f0d453,#f0d4f0);
	background-repeat:repeat-x;
	/*
	-webkit-clip-path:polygon(0 0,100% 0,60% 100%,0 100%);
	clip-path:polygon(0 0,100% 0,60% 100%,0 100%);
	-webkit-clip-path:polygon(0 0,100% 0,calc(100% - 450px) 100%,0 100%);
	clip-path:polygon(0 0,100% 0,calc(100% - 450px) 100%,0 100%);
	*/
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	z-index:-30;
}

@media (max-width:991px){#index-background-container #index-header-background{-webkit-clip-path:none;clip-path:none}}

#index-background-container #index-header-portraits {
	background-color:#fff;
	background-image:url("https://pbs.twimg.com/profile_images/771039203903868929/X0HH2ps7_400x400.jpg");
	background-image:linear-gradient(0deg,#fff,#fff);
	background-position:100% 0;
	z-index:-31;
}

#index-background-container .header-nav{visibility:hidden}


/* proposals and take action areas color override */
div.area-2, div.area-4 {
	background-image: linear-gradient(45deg,#f000e8,#cff9ba);
	background-repeat: repeat-x;
}

.position-text {
	text-align: left
}
